---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Community",
    price: "Free",
    popular: false,
    features: [
      "1 Hour free API Credit",
      "Limited Custom Voice Upload",
      "No Commertical distribution rights",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Developer",
    price: {
      monthly: "$0.00133 /sec",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Unlimited API Calls",
      "Umlimited Custom Voice Upload",
      "Commertical distribution rights",
      "Advanced Integrations",
      "24x7 Phone & Email Support",
      // "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  // {
  //   name: "Enterprise",
  //   price: "Custom",
  //   popular: false,
  //   features: [
  //     "All Pro Features",
  //     "Unlimited Custom domains",
  //     "99.99% Uptime SLA",
  //     "SAML & SSO Integration",
  //     "Dedicated Account Manager",
  //     "24/7 Phone Support",
  //   ],
  //   button: {
  //     text: "Contact us",
  //     link: "/contact",
  //   },
  // },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <!-- <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment> -->
      <Fragment slot="desc">
        Only Pay for what you use.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-md mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
