---

import { Icon } from "astro-icon";
import ContentSection from "@components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Share",
    description:
      "Test your prototype early in the development process with users from outside your development team.",
    icon: "mdi:handshake",
  },
  {
    title: "Review",
    description:
      "Read the conversations that users have with your assistant, instead of focusing entirely on top-level metrics.",
    icon: "mdi:feather",
  },
  {
    title: "Annotate",
    description:
      "Convert the messages that users send to your assistant into training examples.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Test",
    description:
      "Make testing an automated step, every time you deploy new changes.",
    icon: "mdi:graph",
  },
  {
    title: "Track",
    description:
      "Measure meaningful metrics, so you can understand what’s working and not working.",
    icon: "mdi:search-web",
  },
  {
    title: "Fix",
    description:
      "Reduce failures over time by making adjustments based on analyzing your assistant’s interactions.",
    icon: "mdi:account-group",
  },
];
---

<div class="mt-20 w-full ">
<ContentSection title="Conversation-Driven Development" id="features" >
  <Fragment slot="lead">
    Conversation-driven development is the process of listening to your users and using those insights to improve your AI assistant.  
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 hover:bg-slate-100">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3 ">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
</div>