---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero-0.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24 text-center">
  <!-- <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Just an Image"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 500px) 100vw, 620px"
      loading="eager"
      format="avif"
      style={"auto"}
    />
  </div> -->
  <div>
    <!-- <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold ">
      AI <span class="text-span-19">Text to Voicees </span><br> 
      Generator API 
    </h1> -->

    <h1 class="font-rflex font-bold text-[2.5rem] xl:text-[4rem] leading-[1.05] py-3 mr-0 mb-8">
      Free AI Voice Cloning API <br> </h1>
    <!-- <h1 class="heading-normal-3 cta-heading">
      <a href="http://www.listnr.tech" class="link-12 herohome">
        AI <span class="text-span-19">Text to Speech</span> 
        <br>Generator
      </a>
    </h1> -->

    <div class="justify-center">
      <p class="text-2xl text-center">
        Clone realistic voicees using our online AI Voice Generator API. <br> Easily convert text to realistic speech and download in <br> MP3 or WAV formats.
      </p>
    </div>

    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center pt-3 ">
      <Link
        href="https://dashboard.visionapi.space/"
        target="_blank"
        class="g-violet-500 justify-center inline-flex items-center gap-2 rounded-full py-3 px-6 text-white font-medium hover:bg-violet-600"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->

        Generate Voicees for Free
      </Link>
    </div>
    <div class="mt-[1.5rem]">
      <ul class="text-sm md:text-sm font-medium">
        <div class=" grid-cols-3 w-full md:w-[55%] lg:w-[85%] mx-auto">
          <li>&nbsp;50+ voices&nbsp; • &nbsp;30+ Languages&nbsp; • &nbsp;Commercial Use</li>
        </div>
        <div class=" grid-cols-3 mt-3 w-full md:w-[55%] lg:w-full mx-auto">
          <li>&nbsp;Custom Voice Generation • MP3 &amp; WAV Export&nbsp; • SSML Support&nbsp; </li>
        </div>
      </ul>
    </div>

  </div>
</main>
