---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero-0.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24 text-center">
  <!-- <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Just an Image"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 500px) 100vw, 620px"
      loading="eager"
      format="avif"
      style={"auto"}
    />
  </div> -->
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter mb-10 mt-20">
      Free Machine Learning API
    </h1>

    <div class="justify-center">
      <p class="text-2xl text-center">
        Stop Wrestling with Data Preparation, Model Training, Model Deployment. <br/> Use AI functionality in your App with just few api calls.
      </p>
    </div>

    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center pt-3">
      <Link
        href="https://dashboard.visionapi.space/"
        target="_blank"
        class="g-violet-500 justify-center inline-flex items-center gap-2 rounded-full py-3 px-6 text-white font-medium hover:bg-violet-600"
        rel="noopener">
        <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->

        Get Started for Free
      </Link>

    </div>
  </div>
</main>
