<!-- For the SVG refer: https://www.svgrepo.com/vectors/voice/ -->

<div class="flex justify-center">
    <div class="container max-w-5xl py-24 2xl:max-w-6xl">
        <h2 class="pb-4 text-center text-5xl font-bold">Oh, the features…</h2>

        <h3 class="mb-16 text-center text-xl text-gray-500">We've Got All Your Audio Requirements Covered.
        </h3>

        <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">

            <dl>
                <dt class="mb-2 text-lg font-semibold">
                    <div class="mb-2 flex items-center justify-center">
                        <!-- <svg width="62" height="62" viewBox="0 0 62 62" fill="none"> -->
                            <svg width="50" height="50" viewBox="0 0 64 64" id="svg5" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                <defs id="defs2"/>
                                <g id="layer1">
                                <path d="m 10,9 h 49 v 6 H 10 Z" id="rect12474" style="fill:#3e4f59;fill-opacity:1;fill-rule:evenodd;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="M 10,15 H 59 V 55 H 10 Z" id="rect12428" style="fill:#acbec2;fill-opacity:1;fill-rule:evenodd;stroke-width:2.00001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 10,15 v 40 h 29.769532 a 28.484051,41.392605 35.599482 0 0 18.625,-40 z" id="path6131" style="fill:#e8edee;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2.00002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="M 12,8 C 10.354994,8 9,9.3549933 9,11 v 40 c 0,0.552285 0.4477153,1 1,1 0.552285,0 1,-0.447715 1,-1 V 11 c 0,-0.564128 0.435873,-1 1,-1 h 45 c 0.564127,0 1,0.435872 1,1 v 3 H 16 c -0.552285,0 -1,0.447715 -1,1 0,0.552285 0.447715,1 1,1 h 42 v 37 c 0,0.564127 -0.435873,1 -1,1 H 8 c -0.5522847,0 -1,0.447715 -1,1 0,0.552285 0.4477153,1 1,1 h 49 c 1.645006,0 3,-1.354994 3,-3 0,-14 0,-28 0,-42 0,-1.6450067 -1.354994,-3 -3,-3 z" id="rect685" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 55,11 c -0.552285,0 -1,0.447715 -1,1 0,0.552285 0.447715,1 1,1 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 z" id="path1338" style="color:#000000;fill:#ed7161;fill-opacity:1;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <path d="m 51,11 c -0.552285,0 -1,0.447715 -1,1 0,0.552285 0.447715,1 1,1 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 z" id="path1376" style="color:#000000;fill:#ecba16;fill-opacity:1;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <path d="m 47,11 c -0.552285,0 -1,0.447715 -1,1 0,0.552285 0.447715,1 1,1 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 z" id="path1378" style="color:#000000;fill:#42b05c;fill-opacity:1;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <path d="M 5,54 A 1,1 0 0 0 4,55 1,1 0 0 0 5,56 1,1 0 0 0 6,55 1,1 0 0 0 5,54 Z" id="path7191" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <path d="m 13,14 c -0.552285,0 -1,0.447715 -1,1 0,0.552285 0.447715,1 1,1 0.552285,0 1,-0.447715 1,-1 0,-0.552285 -0.447715,-1 -1,-1 z" id="path11276" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <path d="m 22,32 v 11.999372 a 1,1 0 0 0 1,1 h 2 V 49 l 3.444445,-4.000628 H 35 a 1,1 0 0 0 1,-1 V 32 A 1,1 0 0 0 35,31 H 23 a 1,1 0 0 0 -1,1 z" id="path1961" style="fill:#ffa221;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 23,31 a 1,1 0 0 0 -1,1 v 12 a 1,1 0 0 0 1,1 h 2 v 4 l 3.445312,-4 h 3.917969 A 12.500156,14.404607 0 0 0 33.5,39 12.500156,14.404607 0 0 0 31.390625,31 Z" id="path4944" style="fill:#ffc343;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 23,30 c -1.092723,0 -2,0.907277 -2,2 v 6 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -6 h 6.931641 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 z m 13,6.041016 a 1,1 0 0 0 -1,1 V 44 H 28.445312 A 1.0001,1.0001 0 0 0 27.6875,44.347656 L 26,46.306641 V 45 a 1.0001,1.0001 0 0 0 -1,-1 h -2 v -2 a 1,1 0 0 0 -1,-1 1,1 0 0 0 -1,1 v 2 c 0,1.092723 0.907277,2 2,2 h 1 v 3 a 1.0001,1.0001 0 0 0 1.757812,0.652344 L 28.902344,46 H 35 c 1.092723,0 2,-0.907277 2,-2 v -6.958984 a 1,1 0 0 0 -1,-1 z" id="path6448" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <g id="g7072" style="fill:none" transform="translate(0,1.4987444)">
                                <path d="m 29,32.501953 a 1.0001,1.0001 0 0 0 -0.894531,0.552734 l -3,6 a 1,1 0 0 0 0.447265,1.341797 1,1 0 0 0 1.341797,-0.447265 L 29,35.738281 l 2.105469,4.210938 a 1,1 0 0 0 1.341797,0.447265 1,1 0 0 0 0.447265,-1.341797 l -3,-6 A 1.0001,1.0001 0 0 0 29,32.501953 Z" id="path7066" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                </g>
                                <path d="M 47,20.999372 V 33 a 1,1 0 0 1 -1,1 h -2 v 4 L 41.055555,34 H 34 A 1,1 0 0 1 33,33 V 20.999372 a 1,1 0 0 1 1,-1 h 12 a 1,1 0 0 1 1,1 z" id="path1959" style="fill:#0075d3;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 34,20 a 1,1 0 0 0 -1,1 v 12 a 1,1 0 0 0 1,1 h 7.054688 L 44,38 v -4 h 1.476562 A 11.000078,16.405439 0 0 0 38.955078,20 Z" id="path5717" style="fill:#0588e2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1"/>
                                <path d="m 34,19 c -1.092723,0 -2,0.907277 -2,2 v 12 c 0,1.092723 0.907277,2 2,2 h 6.550781 l 2.644531,3.59375 A 1.0001,1.0001 0 0 0 45,38 v -3 h 1 c 1.092723,0 2,-0.907277 2,-2 v -6.949219 a 1,1 0 0 0 -1,-1 1,1 0 0 0 -1,1 V 33 h -2 a 1.0001,1.0001 0 0 0 -1,1 v 0.953125 L 41.861328,33.40625 A 1.0001,1.0001 0 0 0 41.054687,33 H 34 V 21 h 12 v 1 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -1 c 0,-1.092723 -0.907277,-2 -2,-2 z" id="path9984" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                <g id="g9989" style="fill:none" transform="translate(-6.5000138,-10)">
                                <g id="g8528" transform="rotate(90,38.000031,46.000031)">
                                <path d="m 25,40.000048 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -3.410156 c 0.594883,0.253277 1.131325,0.525663 1.609375,0.820312 l -0.181641,0.314454 a 1,1 0 0 0 -0.101562,0.759765 1,1 0 0 0 0.466797,0.605469 1,1 0 0 0 1.365234,-0.365234 l 0.01367,-0.02539 c 0.407864,0.47454 0.701093,0.997064 0.867187,1.576172 a 1,1 0 0 0 1.236329,0.685547 1,1 0 0 0 0.685547,-1.236328 c -0.315659,-1.100583 -0.89256,-2.068713 -1.703126,-2.902344 l 0.314454,-0.546875 a 1,1 0 0 0 -0.365235,-1.365235 1,1 0 0 0 -1.365234,0.365235 l -0.158203,0.27539 c -0.961209,-0.616027 -2.0999,-1.119509 -3.396483,-1.507813 A 1.0001,1.0001 0 0 0 25,35.000048 Z" id="path8526" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"/>
                                </g>
                                </g>
                                </g>
                            </svg>
                        <!-- </svg> -->
                    </div>
                <p class="flex justify-center text-2xl font-bold">30+ Languages</p>
                </dt>
                <dd class="text-center text-gray-500"> We support all the major Languages, head over to the documentation to see the list of supported Languages.
                </dd>
            </dl>

            <dl>
                <dt class="mb-2 text-lg font-semibold">
                    <div class="mb-2 flex items-center justify-center">
                        <!-- <svg width="37" height="62" viewBox="0 0 37 62" fill="none"> -->
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M16.1898 2H7.81976C4.17976 2 2.00977 4.17 2.00977 7.81V16.18C2.00977 19.82 4.17976 21.99 7.81976 21.99H16.1898C19.8298 21.99 21.9998 19.82 21.9998 16.18V7.81C21.9998 4.17 19.8298 2 16.1898 2Z" fill="#292D32"/>
                                <path d="M6 14.8901C5.59 14.8901 5.25 14.5501 5.25 14.1401V9.8501C5.25 9.4401 5.59 9.1001 6 9.1001C6.41 9.1001 6.75 9.4401 6.75 9.8501V14.1401C6.75 14.5601 6.41 14.8901 6 14.8901Z" fill="#292D32"/>
                                <path d="M9 16.3202C8.59 16.3202 8.25 15.9802 8.25 15.5702V8.43018C8.25 8.02018 8.59 7.68018 9 7.68018C9.41 7.68018 9.75 8.02018 9.75 8.43018V15.5702C9.75 15.9902 9.41 16.3202 9 16.3202Z" fill="#292D32"/>
                                <path d="M12 17.75C11.59 17.75 11.25 17.41 11.25 17V7C11.25 6.59 11.59 6.25 12 6.25C12.41 6.25 12.75 6.59 12.75 7V17C12.75 17.41 12.41 17.75 12 17.75Z" fill="#292D32"/>
                                <path d="M15 16.3202C14.59 16.3202 14.25 15.9802 14.25 15.5702V8.43018C14.25 8.02018 14.59 7.68018 15 7.68018C15.41 7.68018 15.75 8.02018 15.75 8.43018V15.5702C15.75 15.9902 15.41 16.3202 15 16.3202Z" fill="#292D32"/>
                                <path d="M18 14.8901C17.59 14.8901 17.25 14.5501 17.25 14.1401V9.8501C17.25 9.4401 17.59 9.1001 18 9.1001C18.41 9.1001 18.75 9.4401 18.75 9.8501V14.1401C18.75 14.5601 18.41 14.8901 18 14.8901Z" fill="#292D32"/>
                            </svg>
                        <!-- </svg> -->
                    </div>
                <p class="flex justify-center text-2xl font-bold">50+ Voicees</p>
            </dt>
                <dd class="text-center text-gray-500"> Clone realistic voice from our voices library. You can find all the supported voices on the documentations.
                </dd>
            </dl>

            <dl>
                <dt class="mb-2 text-lg font-semibold">
                    <div class="mb-2 flex items-center justify-center">
                        <!-- <svg width="55" height="62" viewBox="0 0 55 62" fill="none"> -->
                            <svg width="50" height="50" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M908.8 742.4c0 14.08-11.52 25.6-25.6 25.6H140.8c-14.08 0-25.6-11.52-25.6-25.6V358.4c0-14.08 11.52-25.6 25.6-25.6h742.4c14.08 0 25.6 11.52 25.6 25.6v384z" fill="#B8CA43" /><path d="M883.2 780.8H140.8c-21.76 0-38.4-16.64-38.4-38.4V358.4c0-21.76 16.64-38.4 38.4-38.4h742.4c21.76 0 38.4 16.64 38.4 38.4v384c0 21.76-16.64 38.4-38.4 38.4zM140.8 345.6c-7.68 0-12.8 5.12-12.8 12.8v384c0 7.68 5.12 12.8 12.8 12.8h742.4c7.68 0 12.8-5.12 12.8-12.8V358.4c0-7.68-5.12-12.8-12.8-12.8H140.8z" fill="#231C1C" /><path d="M844.8 652.8V448c-28.16 0-51.2-23.04-51.2-51.2H230.4c0 28.16-23.04 51.2-51.2 51.2v204.8c28.16 0 51.2 23.04 51.2 51.2h563.2c0-28.16 23.04-51.2 51.2-51.2z" fill="#B8CA43" /><path d="M806.4 716.8H217.6v-12.8c0-21.76-16.64-38.4-38.4-38.4h-12.8V435.2h12.8c21.76 0 38.4-16.64 38.4-38.4v-12.8h588.8v12.8c0 21.76 16.64 38.4 38.4 38.4h12.8v230.4h-12.8c-21.76 0-38.4 16.64-38.4 38.4v12.8z m-564.48-25.6h540.16c5.12-25.6 24.32-44.8 49.92-49.92V459.52c-25.6-5.12-44.8-24.32-49.92-49.92H241.92c-5.12 25.6-24.32 44.8-49.92 49.92v181.76c25.6 5.12 44.8 24.32 49.92 49.92z" fill="#231C1C" /><path d="M345.6 550.4a179.2 166.4 90 1 0 332.8 0 179.2 166.4 90 1 0-332.8 0Z" fill="#E1E0A6" /><path d="M512 742.4c-98.56 0-179.2-85.76-179.2-192s80.64-192 179.2-192 179.2 85.76 179.2 192-80.64 192-179.2 192z m0-358.4c-84.48 0-153.6 74.24-153.6 166.4s69.12 166.4 153.6 166.4 153.6-74.24 153.6-166.4-69.12-166.4-153.6-166.4z" fill="#231C1C" /><path d="M499.2 371.2h25.6v358.4h-25.6z" fill="#231C1C" /><path d="M512 691.2c-21.76 0-42.24-8.96-56.32-24.32-12.8-14.08-20.48-33.28-20.48-52.48h25.6c0 12.8 5.12 25.6 14.08 34.56 10.24 10.24 23.04 16.64 37.12 16.64 28.16 0 51.2-23.04 51.2-51.2s-23.04-51.2-51.2-51.2c-42.24 0-76.8-34.56-76.8-76.8s34.56-76.8 76.8-76.8 76.8 34.56 76.8 76.8h-25.6c0-28.16-23.04-51.2-51.2-51.2s-51.2 23.04-51.2 51.2 23.04 51.2 51.2 51.2c42.24 0 76.8 34.56 76.8 76.8s-34.56 76.8-76.8 76.8z" fill="#231C1C" />
                            </svg>
                        <!-- </svg> -->
                    </div>
                <p class="flex justify-center text-2xl font-bold">Commercial Use</p>
            </dt>
                <dd class="text-center text-gray-500"> Use cloned audio for commercial purpose. </dd>
            </dl>
        </div>
    </div>
</div>