<div class="w-fit bg-white border border-gray-300 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700 hidden md:block mb-28 mx-auto">
  <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select tab</label>
      <select id="tabs" class="bg-gray-500 border-10 border-b border-gray-200 text-gray-1000 text-sm rounded-t-lg focus:ring-blue-800 focus:border-blue-800 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option>Python</option>
          <option>Javascript</option>
          <option>cURL</option>
      </select>
  </div>
  <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400" id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist">
      <li class="w-full">
          <button id="stats-tab" data-tabs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true" class="inline-block w-full p-4 rounded-tl-lg bg-gray-50 hover:bg-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 text-lg">Python</button>
      </li>
      <li class="w-full">
          <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false" class="inline-block w-full p-4 bg-gray-50 hover:bg-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 text-lg">Javascript</button>
      </li>
      <li class="w-full">
          <button id="faq-tab" data-tabs-target="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false" class="inline-block w-full p-4 rounded-tr-lg bg-gray-50 hover:bg-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 text-lg">cURL</button>
      </li>
  </ul>
  <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600 flex-6">
      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
          <!-- component -->
          <!-- <div class="w-3/4 mx-auto">
              <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-black mx-auto">
                  <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
                      <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
                      </div>
                      <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
                      </div>
                      <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
                      </div>
                      <div class="mx-auto pr-16" id="terminaltitle">
                          <p class="text-center text-sm">Terminal</p>
                      </div>
                  </div>

                  <div class="pl-1 pt-1 h-auto text-green-200 font-mono text-lg bg-black" id="console">
                      <p class="pb-1 text-sky-600">curl -X POST https://eugenesiow-remove-bg.hf.space/+/api/predict/ -H 'Content- \
                          <br>Type: application/json' -d &#39;&#123;&ldquo;data&rdquo;&#58;&#91; \ <br> &ldquo;data&#58;image/jpeg&#59;base64&rdquo;&#93;&#125;&#39;
                      </p>
                      <p class="pb-1"></p>
                  </div>
              </div>
          </div> -->

          <div class="mockup-code w-3/2 mx-auto">
                <pre data-prefix="1" class="text-warning"><code>import request, json</code></pre> 
                <pre data-prefix="2" class="text-success"><code>headers = &#10100; </code></pre>
                <pre data-prefix="3"><code></code>    "content-Type": "application/json"</pre>
                <pre data-prefix="4" class="text-success"><code>&#10101;</code></pre>
                <pre data-prefix="5" class="text-success"><code>data = json.dumps(&#10100;</code></pre>
                <pre data-prefix="6"><code></code>    "api_key": "API key, str",</pre>
                <pre data-prefix="7"><code></code>    "text": "Text to synthesize, str",</pre>
                <pre data-prefix="8"><code></code>    "voices": "Voice name, str",</pre>
                <pre data-prefix="9"><code></code>    "target_file": "Cloud Storage URL for Target Voice, optional URL"</pre>
                <pre data-prefix="10" class="text-success"><code>&#10101;</code></pre>
                <pre data-prefix="11" class="text-success"><code>response = requests.post(</code></pre>
                <pre data-prefix="12"><code>    'https://metavoicexyz--tts-app.modal.run',</code></pre>
                <pre data-prefix="13"><code>    headers=headers, data=data</code></pre>
                <pre data-prefix="14" class="text-success"><code>)</code></pre>
                <pre data-prefix="15" class="text-success"><code>print(response.content)</code></pre>
            </div>
      </div>

      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
          <!-- component -->
          <!-- <div class="w-3/4 mx-auto">
              <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-black mx-auto">
                  <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
                      <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
                      </div>
                      <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
                      </div>
                      <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
                      </div>
                      <div class="mx-auto pr-16" id="terminaltitle">
                          <p class="text-center text-sm">Terminal</p>
                      </div>

                  </div>
                  <div class="pl-1 pt-1 h-auto  text-green-200 font-mono text-lg bg-black" id="console">
                    <p class="pb-1">curl -X POST https://eugenesiow-remove-bg.hf.space/+/api/predict/ -H 'Content- \
                      <br>Type: application/json' -d &#39;&#123;&ldquo;data&rdquo;&#58;&#91; \ <br> &ldquo;data&#58;image/jpeg&#59;base64&rdquo;&#93;&#125;&#39;
                  </p>
                  <p>Object Segmentation</p>
                  </div>
              </div>
          </div> -->

          <div class="mockup-code w-3/2 mx-auto">
            <pre data-prefix="1" class="text-success"><code>const data = &#10100;</code></pre> 
            <pre data-prefix="2"><code>    "api_key": "API key, str",</code></pre>
            <pre data-prefix="3"><code>    "text": "Text to synthesize, str",</code></pre>
            <pre data-prefix="4"><code>    "voices": "Voice name, str",</code></pre>
            <pre data-prefix="5"><code>    "target_file": "Cloud Storage URL for Target Voice, optional URL"</code></pre>
            <pre data-prefix="6" class="text-success"><code>&#10101;</code></pre>
            <pre data-prefix="7" class="text-success"><code>fetch("https://metavoicexyz--tts-app.modal.run", &#10100;</code></pre>
            <pre data-prefix="8"><code></code>    method: "POST",</pre>
            <pre data-prefix="9"><code></code>    headers: &#10100;</pre>
            <pre data-prefix="10"><code></code>        "Content-Type": "application/json",</pre>
            <pre data-prefix="11" class="text"><code>    &#10101;</code></pre>
            <pre data-prefix="12"><code></code>    body: JSON.stringify(data),</pre>
            <pre data-prefix="13" class="text-success"><code>&#10101;)</code></pre>
            <pre data-prefix="14" ><code>    .then(response => response.json())</code></pre>
            <pre data-prefix="15" ><code>    .then(data => &#10100;</code></pre>
            <pre data-prefix="16"><code>        consol.log("Sucess: ", data);</code></pre>
            <pre data-prefix="17"><code>    &#10101;)</code></pre>
            <pre data-prefix="18" ><code>    .catch((error) => &#10100;</code></pre>
            <pre data-prefix="19"><code>        consol.error("Error: ", error);</code></pre>
            <pre data-prefix="20"><code>&#10101;);</code></pre>
        
        </div>


      </div>

      <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="faq" role="tabpanel" aria-labelledby="faq-tab">
          <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
              <!-- component -->
              <!-- <div class="w-3/4 mx-auto">
                  <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-black mx-auto">
                      <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
                          <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
                          </div>
                          <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
                          </div>
                          <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
                          </div>
                          <div class="mx-auto pr-16" id="terminaltitle">
                              <p class="text-center text-sm">Terminal</p>
                          </div>

                      </div>
                      <div class="pl-1 pt-1 h-auto  text-green-200 font-mono text-lg bg-black" id="console">
                        <p class="pb-1">curl -X POST https://eugenesiow-remove-bg.hf.space/+/api/predict/ -H 'Content- \
                          <br>Type: application/json' -d &#39;&#123;&ldquo;data&rdquo;&#58;&#91; \ <br> &ldquo;data&#58;image/jpeg&#59;base64&rdquo;&#93;&#125;&#39;
                      </p>
                      <p>
                        OCR
                      </p>
                      </div>
                  </div>
              </div> -->

              <div class="mockup-code w-3/2 mx-auto">
                <pre data-prefix="1" class="text-success"><code>curl -H 'Content-Type: application/json' \</code></pre> 
                <pre data-prefix="2"><code>    -d '&#10100;"api_key": "API key", "text": "Text", "voices":  \</code></pre>
                <pre data-prefix="3"><code>    "Voice name",  "target_file": "URL" &#10101;' \</code></pre>
                <pre data-prefix="4"><code>    -X POST \</code></pre>
                <pre data-prefix="5"><code>    https://metavoicexyz--tts-app.modal.run</code></pre>
            
            </div>
            
          </div>
    </div>
  </div>
</div>